<div class="container-fluid m-5 bg-dark">
    <div class="container mt-3">
        <div id="postadd my3">
            <h2> Add your new post here:</h2>
            <div class="input-group input-group-lg">
                <span class="input-group-text" id="inputGroup-sizing-lg">Title:</span>
                <input type="text" class="form-control" placeholder="Title of the post can not be empty"
                    aria-describedby="inputGroup-sizing-lg" id="title">
            </div>
            <br>
            <div class="input-group input-group-lg">
                <span class="input-group-text" id="inputGroup-sizing-lg">Text:</span>
                <input type="text" class="form-control" placeholder="Text of the post can not be empty"
                    aria-describedby="inputGroup-sizing-lg" id="text">
            </div>
        </div>
        <br>
        <div class="row">
            <button type="button" class="btn border-info btn-info text-dark mx-auto col-3" id="create-new">Create new Post</button>
        </div>
    </div>
</div>

{{#if posts.length}}
<!-- generates posts from logged in user -->
<div class="container-fluid m-5 bg-dark">
    <h2 class="text-center text-light">Your Posts:</h2>


    <div class="container mt-3 text-light bg-dark">
        <div class="row border p-3 mb-3">
            {{#each posts as |post| }}
            <div class="col-sm-12 my-3">
                {{> dashpost post}}

            </div>
            {{/each}}
        </div>
    </div>


    {{/if}}
</div>

<script src="./js/postadd.js"></script>