<div class="container-fluid m-5 text-light bg-dark">
    <h2 class="text-center">Previous Posts:</h2>


    <div class="container mt-3">
        <div class="row border border-info rounded p-3 mb-3">
            {{#each posts as |post| }}
            <div class="col-sm-12 my-3">
                {{> post-details post}}
            </div>
            {{/each}}
        </div>
    </div>
</div>